@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --fonte-principal: 'Roboto', sans-serif;
    
    --cor-painel1: #C50000;

    --cor-painel2: #D9DD10;

    --cor-painel3: #A63A17;

    --cor-painel4: #10ACDD;
}